name: Demo Workflow
on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

  workflow_dispatch:

jobs:
  testdemo:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - run: ls
